.wrapper {
  padding: calc(var(--mantine-spacing-xs) * 2) var(--mantine-spacing-xs);
}

.title {
  font-family: Outfit, var(--mantine-font-family);
  font-size: 28px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: var(--mantine-spacing-md);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}